//static styles
.wrapper {
    display: flex;
    flex-direction: column;
    gap:12px;
    margin-top: 12px;
}

.progress {
    background: lightgrey;
    height: 20px;
    border: 1px solid grey;
    border-radius: 8px;
    overflow: hidden;

}

.progress-bar {
    background-color: blue;
    height: 100%;
    text-align: center;
    color: white;
    overflow: hidden;
}

//dynamic styles
.bar{
    height: 10px;
    background-color: gray;
}

.bar-contents {
    background-color: green;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition-duration: 20000ms;
    transition-property: transform;
    transition-timing-function: linear;
}

.bar-contents--filled {
    transform: scaleX(1);
}