.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 10px;
}
.submit-button {
    width:100%
}

.table-container {
    border-collapse: collapse;

}

.cell {
    border: 1px solid black;
}
.input {
    margin-left: 10px;
}