.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 10px;
}
.submit-button {
    width:100%
}

.table-container {
    display: grid;
    grid-auto-rows: 40px;

}

.cell {
    border: 1px solid black;
}
.input {
    margin-left: 10px;
}