.accordion-icon {
    border: solid currentcolor;
    border-width: 0 2px 2px 0;
    display: inline-block;
    height: 8px;
    pointer-events: auto;
    transform: translateY(-2px) rotate(45deg);
    width: 8px;
}

.accordion-icon--filed {
    border-width: 2px 0 0 2px;
    transform: translateY(2px) rotate(45deg);
}