.accordion-container {
    max-width: 500px;
    background: cadetblue;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordion {
    display:flex;
    flex-direction: column;
    width:100%;
    background-color: #69a3a5;
}

.accordion-item {
    display: flex;
    flex-direction: column;
}

.accordion-item-title:hover {
    background-color: #74b4b6;
}

.accordion-item-title {
    border:none;
    background: none;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    padding: 4px;
}

.accordion-icon {
    border: solid currentcolor;
    border-width: 0 2px 2px 0;
    display: inline-block;
    height: 8px;
    pointer-events: auto;
    transform: translateY(-2px) rotate(45deg);
    width: 8px;
    margin-left: 10px;
}

.accordion-icon--filed {
    border-width: 2px 0 0 2px;
    transform: translateY(2px) rotate(45deg);
}
.accordion-item-contents {
    padding: 4px;
}